[submodule "SignE/includes/raylib"]
	path = SignE/includes/raylib
	url = https://github.com/raysan5/raylib
[submodule "SignE/includes/spdlog"]
	path = SignE/includes/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SignE/includes/entt"]
	path = SignE/includes/entt
	url = https://github.com/skypjack/entt
[submodule "SignE/includes/imgui"]
	path = SignE/includes/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "SignE/includes/rlImGui"]
	path = SignE/includes/rlImGui
	url = https://github.com/raylib-extras/rlImGui
